body{
    /* width: 1440px; */
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
    color: hsl(0, 0%, 100%);
    margin: 0;
}

.card {
    width: 200px;
    height: 375px;
    margin: auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    padding: 15px;
    margin-top: 100px;
    overflow: hidden;
}

.relative {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}

.nft-img {
    width: 100%;
    border-radius: 5px;
}

.nft-img:hover + .eye-img {
    cursor: pointer;
    display: flex;
}

.eye-img:hover {
    cursor: pointer;
    display: flex;
}

.eye-img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 255, 210, 0.5);
    padding: 78px 79px;
    width: 42px;
    height: 44px;
    border-radius: 5px;
}

.name {
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
}

.name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.description {
    font-weight: 300;
    font-size: 12px;
    color: hsl(215, 51%, 70%);
    margin: 15px 0;
}

.flex{
    display: flex;
}

.price-container{
    display: flex;
    width: 50%;
    align-items: center;
}

.eth-icon {
    width: 7px;
    margin-right: 6px;
}

.price {
    font-weight: 400;
    font-size: 11px;
    color: hsl(178, 100%, 50%)
}

.time-left-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}

.clock-icon {
    width: 12px;
    margin-right: 6px;
}

.time-left {
    font-weight: 400;
    font-size: 11px;
    color: hsl(215, 51%, 70%);
    justify-content: right;
}

hr {
    height: 1px;
    border: none;
    background-color: hsl(215, 32%, 27%);
    margin-top: 15px;
}

.credits-container{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.avatar {
    width: 20px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 100%;
    margin-right: 12px;
}

.credits {
    color: hsl(215, 51%, 70%);
    font-size: 11px;
}

.author {
    color: hsl(0, 0%, 100%);
}

.author:hover {
    color: rgb(0, 255, 247);
    cursor: pointer;
}

footer {  
    margin-top: 100px;
}

footer > hr {
    background-color: white;
}
