.card {
    width: 200px;
    margin: auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    padding: 15px;
    margin-top: 100px;
}

body{
    width: 1440px;
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
}

.flex{
    display: inline-flex;
    width: 100%;
}


.nft {
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 5px;
}

h4 {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

p {
    font-weight: 300;
    font-size: 12px;
    color: hsl(215, 51%, 70%);
}

.price {
    font-weight: 400;
    font-size: 11px;
    color: rgb(0, 255, 247);
    margin-right: 33%;
}

.time-left {
    font-weight: 400;
    font-size: 11px;
    color: hsl(215, 51%, 70%);
    justify-content: right;
}

.eth-icon {
    width: 7px;
    margin-right: 6px;
}

.clock-icon {
    width: 12px;
    margin-right: 7px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.dock-left {
    text-align: left;
    align-items: center;
}

.dock-right {
    text-align: right;
}

hr {
    height: 1px;
    border: none;
    background-color: hsl(215, 51%, 70%);
    margin-top: 15px;
    margin-bottom: 12px;
}

.credits {
    color: hsl(215, 51%, 70%);
    font-size: 11px;
    display: inline-block;
    padding-bottom: 2px;
    align-items: center;
}

.author {
    color: hsl(0, 0%, 100%);
}

.avatar {
    width: 20px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 100%;
    align-items: center;
}